[user]
    name = Gael Chamoulaud
    email = gael@redhat.com
[github]
    user = strider
[push]
    default = upstream
[core]
    editor = vimx
    pager = less -FSRX
[color]
    diff = auto
    status = auto
    branch = auto
[merge]
    tool = vimdiff
[alias]
    br = branch --all
    ci = commit
    co = checkout
    dh = diff HEAD
    lg = log --graph --pretty=format:'%Cred%h..%Creset - %s %Cgreen(%cr)%Creset - %an' --abbrev-commit --date=relative
    lgn = log --pretty=oneline --abbrev-commit --show-notes=*
    rh = reset --soft HEAD^
    st = status -sb
    fup = log --since '1 day ago' --oneline --author='Gael Chamoulaud <gael@redhat.com>'
    springcleaning = for-each-ref --sort=-committerdate --format='%(refname:short) %(committerdate:short)'
    l = log
    lh = log --graph
    la = "!git lh --date-order --all 2> /dev/null"
    lb = log --graph --simplify-by-decoration
    lba = "!git lb --all"
    h = !git --no-pager log --graph -n 15
    a = !git --no-pager la -n 15
    sm = submodule
    smu = submodule foreach git pull origin master
    up = "!git fetch upstream && git rebase upstream/master"
    pr = "!f() { git fetch origin refs/pull/$1/head:pr/$1 && git co pr/$1; } ; f"
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    dl = "!git ll -1"
    al = "!git config -l | grep alias | cut -c 7-"
[sendemail]
    smtpencryption = tls
    smtpserver = smtp.corp.redhat.com
    smtpuser = gchamoul@redhat.com
    smtpserverport = 993
    confirm = auto
[diff "oodiff"]
    command = git-oodiff
[giggle]
    main-window-maximized = true
    main-window-geometry = 0x0+0+0
    history-view-vpane-position = 186
    main-window-view = HistoryView
    file-view-vpane-position = 310
    file-view-hpane-position = 250
[credential]
    helper = cache --timeout=3600
