Xft.dpi               : 96
Xft.antialias         : 1
Xft.hinting           : 1
Xft.hintstyle         : hintslight
Xft.rgba              : rgba
Xft.lcdfilter         : lcddefault
Xcursor.theme         : Oxygen_Yellow
*customization        : -color
Xterm*termName        : xterm-256color
URxvt*termName        : rxvt-256color
URxvt.transparent     : true
URxvt*shading         : 30
!URxvt*fading          : 25
URxvt*saveLines       : 65535
!URxvt.depth           : 32
URxvt.scrollBar       : off
URxvt.borderless      : true
URxvt.perl-lib        : /home/gchamoul/.config/urxvt
URxvt.perl-ext-common : default,matcher,selection-to-clipboard,selection,tabbedex,font-size
URxvt.url-launcher    : /usr/bin/firefox
URxvt.matcher.button  : 1
URxvt.keysym.C-Delete : perl:matcher:last
URxvt.keysym.M-Delete : perl:matcher:list
URxvt*font            : xft:Terminus for Powerline:style=Regular:size=08
!URxvt*letterspace     : -1

! Tabbedex features
URxvt.new-button:yes
!URxvt.title:no
URxvt.autohide:yes
URxvt.no-tabbedex-keys:yes
URxvt.reopen-on-close:no
! Tabbedex colors
URxvt*tabbar-fg: 244
URxvt*tabbar-bg: 16
URxvt*tab-fg: 255
URxvt*tab-bg: 52
URxvt*title-fg: 244
URxvt*title-bg: 16

! Font-size (C-1: Ctrl + Alt)
URxvt.keysym.C-1-Up: perl:font-size:increase
URxvt.keysym.C-1-Down: perl:font-size:decrease
URxvt.keysym.C-S-1-Up: perl:font-size:incglobal
URxvt.keysym.C-S-1-Down: perl:font-size:decglobal
URxvt.font-size.step: 4

! Tabbedex keybindings (4-1: Super + Alt)
URxvt.keysym.4-1-C-Left: perl:tabbedex:move_tab_left
URxvt.keysym.4-1-C-Right: perl:tabbedex:move_tab_right
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab

!TomorrowNight
#define t_background   #1d1f21
#define t_current_line #282a2e
!#define t_selection    #373b41
!#define t_selection    #cc0000
#define t_selection    #eee8d5
#define t_foreground   #c5c8c6
#define t_comment      #969896
#define t_red          #cc6666
#define t_orange       #de935f
#define t_yellow       #f0c674
#define t_green        #b5bd68
#define t_aqua         #8abeb7
#define t_blue         #81a2be
#define t_purple       #b294bb
#define t_grey         #a4a4a4
! Black / Grey
*.color0                                        : #000000
*.color8                                        : #666666
! Red / Bright Red
*.color1                                        : t_red
*.color9                                        : #FF3334
! Green + Bright Green
*.color2                                        : t_green
*.color10                                       : #9ec400
! Yellow (Orange) + Bright Yellow (Yellow)
*.color3                                        : t_orange
*.color11                                       : t_yellow
! Blue + Bright Blue
*.color4                                        : t_blue
*.color12                                       : t_blue
! Magenta (Purple) + Bright Magenta
*.color5                                        : t_purple
*.color13                                       : #b777e0
! Cyan (Aqua) + Bright Cyan
*.color6                                        : t_aqua
*.color14                                       : #54ced6
! Light Grey (Selection) + White (Current Line)
*.color7                                        : t_selection
!*.color15                                      : t_current_line
*.color15                                       : white
*.foreground                                    : t_foreground
*.background                                    : t_background
!*.cursorColor                                  : #aeafad
*.cursorColor                                   : t_red

URxvt*cursorBlink                               : false

!-------------------------------------------------------------------------------
! Rofi color theme
!
! Based on the Gruvbox color scheme for Vim by morhetz
! https://github.com/morhetz/gruvbox
!
! File: gruvbox-dark-hard.theme
! Desc: Gruvbox dark (hard contrast) color theme for Rofi
! Author: bardisty <b@bah.im>
! Source: https://github.com/bardisty/gruvbox-rofi
! Modified: Sat Oct 22 2016 03:12:10 PDT -0700
!-------------------------------------------------------------------------------

! Enable the extended coloring options
rofi.padding: 1
rofi.lines: 10
rofi.borderwidth: 1
rofi.opacity: 100
rofi.font: Terminus for Powerline 08
rofi.location: 7
rofi.yoffset: 0
rofi.xoffset: 0
rofi.width: 100
rofi.fixed_num_lines: 1
rofi.hmode: false
rofi.terminal: st
rofi.ssh-set-title: false
rofi.color-enabled: true

! ------------------------------------------------------------------------------
! ROFI Color theme
! User: milouse
! Copyright: Étienne Deparis
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   argb:00272822, #f8f8f2, argb:00272822, #141411, #f8f8f2
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   argb:00272822, #f92672, argb:00272822, #f92672, #f8f8f2
! "Color scheme for active row" Set from: File
rofi.color-active:                   argb:00272822, #a6e22a, argb:00272822, #141411, #a6e22a
! "Color scheme window" Set from: File
rofi.color-window:                   argb:ee272822, #002b36, #e6db74
! "Separator style (none, dash, solid)" Set from: File
rofi.separator-style:                solid
