Xft.dpi               : 96
Xft.antialias         : 1
Xft.hinting           : 1
Xft.hintstyle         : hintslight
Xft.rgba              : rgba
Xft.lcdfilter         : lcddefault

Xcursor.theme         : Oxygen_Yellow
*customization        : -color
Xterm*termName        : xterm-256color
URxvt*termName        : rxvt-256color
URxvt.transparent     : false
URxvt*shading         : 25
!URxvt*fading          : 25
URxvt*saveLines       : 65535
!URxvt.depth           : 32
URxvt.scrollBar       : off
URxvt.borderless      : true
URxvt.perl-lib        : /home/gchamoul/.config/urxvt
URxvt.perl-ext-common : default,matcher,selection-to-clipboard,selection,tabbedex,font-size
URxvt.url-launcher    : /usr/bin/firefox
URxvt.matcher.button  : 1
URxvt.keysym.C-Delete : perl:matcher:last
URxvt.keysym.M-Delete : perl:matcher:list
URxvt*font            : xft:Agave:style=Regular:size=14.0
URxvt*letterspace     : -1

! Tabbedex features
URxvt.new-button:yes
!URxvt.title:no
URxvt.autohide:yes
URxvt.no-tabbedex-keys:yes
URxvt.reopen-on-close:no
! Tabbedex colors
!URxvt*tabbar-fg: 244
URxvt*tabbar-bg: 16
!URxvt*tab-fg: 255
!URxvt*tab-bg: 52
!URxvt*title-fg: 244
!URxvt*title-bg: 16

! `font-size` plugin
URxvt.keysym.C-minus: perl:font-size:decrease
URxvt.keysym.C-equal: perl:font-size:increase
! The default font increase step size is 1. This is for portability across all
! fonts (some fonts do not support particular font sizes). Because changing font
! size only really makes sense for anti-aliased fonts (Terminus is bitmapped),
! and because anti-aliased fonts support any size, it makes sense to just use a
! size step of 4 for faster transitions between font size changes.
URxvt.font-size.step: 4

! Tabbedex keybindings (4-1: Super + Alt)
URxvt.keysym.4-1-C-Left: perl:tabbedex:move_tab_left
URxvt.keysym.4-1-C-Right: perl:tabbedex:move_tab_right
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab

!
! Generated with :
! XRDB2Xreources.py
!
*.foreground:  #ffffff
*.background:  #282828
*.cursorColor: #a8a49d
!
! Black
*.color0:      #010101
*.color8:      #726e6a
!
! Red
*.color1:      #f8b63f
*.color9:      #f8b63f
!
! Green
*.color2:      #7fb5e1
*.color10:     #7fb5e1
!
! Yellow
*.color3:      #d6da25
*.color11:     #d6da25
!
! Blue
*.color4:      #489e48
*.color12:     #489e48
!
! Magenta
*.color5:      #b296c6
*.color13:     #b296c6
!
! Cyan
*.color6:      #f5bfd7
*.color14:     #f5bfd7
!
! White
*.color7:      #a8a49d
*.color15:     #fefbea
!
! Bold, Italic, Underline
*.colorBD:     #a8a49d
!*.colorIT:
!*.colorUL:
URxvt*cursorBlink                               : false